# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives** 
* List popular languages for Data Science
* libraries used by Data Scientists
* arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Panda
4. Ggplot2

| Data Science Tools |
| ------------------ |
| Project Jupyter |
| RStudio |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
4+10

14

In [12]:
14*4

56

In [13]:
56/2

28.0

In [14]:
x=10
y=40
z=x+y
print(z)

50

In [15]:
a= pow (6,3)
print (a)

216

### This a simple arithmetic expression to multiply then add integers

In [17]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

## Author

### Alejandro Castilla